<header class="header">
    <div class="header__container">
        <div class="header__container__tag">
            TAG
        </div>
        <nav class="header__container__menu">
            <button class="nav__icon">
                <span class="icon-bar">-</span>
                <span class="icon-bar">-</span>
                <span class="icon-bar">-</span>
            </button>
        </nav>
    </div>
</header>